/* Start global rules */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "cairo", sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  padding: 5px 20px;
  font-size: 26px;
  border: 1px solid #000;
  width: fit-content;
  position: relative;
  margin: 0 auto 100px;
  text-transform: uppercase;
  z-index: 1;
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move linear 0.5s forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move linear 0.5s forwards;
}

.main-title:hover {
  color: white;
  border: white;
  transition-delay: 0.5s;
}
/* End global rules */
.header {
  background-color: white;
  position: relative;
  -moz-box-shadow: 0 0 10px #ddd;
  -webkit-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color: var(--main-color);
  font-weight: 700;
  justify-content: center;
  align-items: center;
  /* for not change the height of navbar */
  height: 72px;
}

@media (max-width: 767px) {
  .header .logo {
    /* for take all width */
    width: 100%;
    height: 50px;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .main-nav li:last-child:hover .mega-menu {
  opacity: 1;
  top: 100%;
  z-index: 100;
}
.header .main-nav > li > a {
  display: flex;
  color: black;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  height: 72px;
  padding: 0 30px;
  position: relative;
  transition: var(--main-transition);
  overflow: hidden;
}

@media (max-width: 767px) {
  .header .main-nav > li > a {
    font-size: 13px;
    height: 40px;
    padding: 10px;
  }
}

.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
.header .main-nav > li > a:hover::before {
  left: 0;
}

.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}

/* Start mega-menu */
.header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  top: 172%;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  padding: 30px;
  background-color: white;
  z-index: -1;
  opacity: 0;
  border-bottom: 3px solid var(--main-color);
  transition: top var(--main-transition, opacity var(--main-transition));
}
.header .main-nav > li > a:hover.header .mega-menu {
  display: flex;
}
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
  .header .mega-menu li a {
    padding: 0;
  }
}
@media (max-width: 991px) {
  .header .mega-menu .image img {
    display: none;
  }
}
.header .mega-menu .links {
  min-width: 240px;
  flex: 1;
}
@media (max-width: 767px) {
  .header .mega-menu .links {
    width: 100%;
  }
}
.header .mega-menu .links li {
  position: relative;
  overflow: hidden;
}
.header .mega-menu .links li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #e9e6e673;
  left: -100%;
  top: 0;
  z-index: -1;
  transition: var(--main-transition);
}
.header .mega-menu .links li:hover::after {
  left: 0;
}
.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 991px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.header .mega-menu .links li a {
  padding: 10px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color);
  text-transform: capitalize;
}
.header .mega-menu .links li a i {
  margin-right: 10px;
}
.header .main-nav > li > a:hover .header .mega-menu {
  opacity: 100;
  top: 100%;
}
/* End mega-menu */
/* End header */

/* Start Landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  width: 100%;
  background-color: #ececec;
  transform: skewY(-6deg);
  transform-origin: top left;
  min-height: calc(100vh - 72px);
  z-index: -1;
}

.landing .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: calc(100vh - 72px);
  padding-bottom: 120px;
}
.landing .image img {
  position: relative;
  width: 600px;
  animation: up-to-down 5s linear infinite;
}
@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text {
  flex: 1;
}
.landing .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
}
.landing .text p {
  font-size: 23px;
  margin: 5px 0 0 0;
  color: #666;
  max-width: 500px;
}

@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}

.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.landing .go-down:hover {
  color: var(--main-color-alt);
}
.landing .go-down i {
  transition: var(--main-transition);
  font-size: 40px;
  color: var(--main-color);
  animation: bouncing 1.5s infinite;
}
/* End Landing */

/* Start Articles */
.articles {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.articles .container .box {
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 20px rgb(0 0 0 / 10%);
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
}
.articles .container .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 20px rgb(0 0 0 / 20%);
}
.articles .container .box img {
  width: 100%;
  max-width: 100%;
}
.articles .container .box .content {
  padding: 20px;
  margin: 0;
}
.articles .container .box h3 {
  text-transform: capitalize;
  margin: 0;
}
.articles .container .box p {
  margin: 10px 0 0;
  line-height: 1.7;
  color: #777;
}
.articles .container .box .info {
  border-top: 1px solid #e9e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.articles .container .box .info a {
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: bold;
  color: var(--main-color);
}
.articles .container .box .info i {
  font-size: 18px;
  color: var(--main-color);
}
.articles .container .box:hover .info i {
  animation: left-to-right 0.6s linear infinite;
}

/* End Articles */

/* Start Animation */
/* Start Gallery */
.gallery {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: var(--section-background);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.gallery .box {
  padding: 15px;
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 gb(0 0 0 / 12%);
}
.gallery .box .img {
  position: relative;
  overflow: hidden;
}
.gallery .box .img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255/ 20%);
  opacity: 0;
  z-index: 2;
}
.gallery .box .img:hover::before {
  animation: flash 0.7s;
}
.gallery .box img {
  max-width: 100%;
  transition: var(--main-transition);
}
.gallery .box .img:hover img {
  transform: rotate(5deg) scale(1.1);
}
/* End Gallery */
/* Start features */
.features {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .container .box {
  background-color: white;
  text-align: center;
  border: 1px solid #e4e4e7f2;
}
.features .container .box .img-holder {
  position: relative;
  overflow: hidden;
}
.features .container .box .img-holder::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.features .container .quality .img-holder::before {
  background-color: #ff000059;
}
.features .container .time .img-holder::before {
  background-color: #34efdf97;
}
.features .container .passion .img-holder::before {
  background-color: #2eb1e1d4;
}
.features .container .box .img-holder::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent transparent white ;
  border-width: 0px 0px 170px 500px;
  bottom: 0;
  right: 0;
  transition: var(--main-transition);
  z-index: 2;
}
.features .container .box:hover .img-holder::after {
  border-width: 500px 170px 0  0;
  border-color:  white transparent transparent ;
}
.features .container .box img {
  max-width: 100%;
}
.features .container .box h3 {
  font-size: 40px;
  width: fit-content;
  position: relative;
  margin: auto;
  z-index: 2;
}
.features .container .box h3::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.features .container .quality h3::after {
  background-color: #F44036;
}
.features .container .time h3::after {
  background-color: #009688;
  width: 60%;
}
.features .container .passion h3::after {
  background-color: #03A9F4;
}
.features .container .box p {
  padding: 25px;
  margin: 30px 0;
  font-size: 22px;
  color: #777;
}
.features .container .box a {
  width: fit-content;
  position: relative;
  display: block;
  text-transform: capitalize;
  padding: 6px 34px;
  margin: 0 auto 30px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  z-index: 1;
  border: 2px solid;
}
.features .container .quality a {
  border-color: #F44036;
  color:#F44036 ;
}
.features .container .time a {
  border-color: #009688;
  color: #009688;
}
.features .container .passion a {
  border-color: #03A9F4;
  color: #03A9F4;
}
.features .container .box a::before{
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  transition: var(--main-transition);
  z-index: -1;
}
.features .container .quality a::before {
  background-color: #F44036;
}
.features .container .time a::before {
  background-color: #009688;
}
.features .container .passion a::before {
  background-color: #03A9F4;
}
.features .container .box:hover a::before {
  width: 100%;
}
.features .container .box a::after{
  content: "";
  position: absolute;
  width: 96%;
  height: 1px;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;

}
.features .container .box:hover a::after {
  background-color: white;
}
.features .container .box:hover a {
  color: white;
}
/* End features */
@keyframes up-to-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -30px;
  }
  70% {
    top: -60px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  40%,
  60%,
  100% {
    transform: translateY(0);
  }
  50%,
  80% {
    transform: translateY(-20px);
  }
}

@keyframes left-move {
  50% {
    left: 0px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  100% {
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  100% {
    right: 0;
    width: 50%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes left-to-right {
  100% {
    transform: translateX(-14px);
  }
}

@keyframes flash {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

/* .loading {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  background-color: rgb(238, 202, 202);
  margin-left: -50px;
  margin-top: -50px;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  border-left-color:transparent ;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* End Animation */
